/*  Estilos sin flex-box */

* {
  padding: 0;
  margin: 0;
  font-family: "Gochi Hand", cursive;
}

.row {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

img {
  width: 50%;
  margin: 0 0 0 15%;
}

h2 {
  font-size: 5.5rem;
  line-height: 0.8;
}

.createdBy {
  font-size: 2rem;
  font-weight: 100;
}

p {
  font-size: 1.2rem;
  animation: blink 1.2s infinite alternate;
}

@keyframes blink {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

/*

  Vista responsive

*/

@media (max-width: 900px) {
  h2 {
    font-size: 4rem;
    line-height: 0.8;
  }
}

@media (max-width: 750px) {
  h2 {
    font-size: 2rem;
    line-height: 0.8;
  }
  .createdBy {
    font-size: 1.5rem;
  }

  img{
    margin: 0 0 0 25%;
  }
}

@media (max-width: 633px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
  }

  img{
    display: none;
  }

}
